# Copy this file to .env and source it before running terraform. Ask a team
# member for where to find the values.

# AWS access key Id for accessing the S3+DynamoDB Terraform state.
export AWS_ACCESS_KEY_ID=$(use-your-password-manager)

# AWS secret key for accessing the S3+DynamoDB Terraform state.
export AWS_SECRET_ACCESS_KEY=$(use-your-password-manager)

# NewRelic [API key](https://one.newrelic.com/launcher/api-keys-ui.launcher).
export NEW_RELIC_API_KEY=$(use-your-password-manager)

# NewRelic account Id.
export NEW_RELIC_ACCOUNT_ID=$(use-your-password-manager)
